body{
    background-color: aquamarine;
  }
  
  .flag-main {
    border: solid seagreen 5px;
    width: 900px;
    height: 500px;
    background-color:  rgb(0, 0, 141);
  }
  .gb-flag{
    width: 450px;
    height: 250px;
    background-color: white;
  }
  .cross-hor{
    width: 450px;
    height: 40px;
    background-color: rgb(220, 1, 30);
    position: relative;
    top: 41%;
  }
  .cross-ver{
    width: 40px;
    height: 250px;
    background-color: rgb(220, 1, 30);
    position: relative;
    left: 45%;
    top: -16%;
  }
  .cross-di-1{
    width: 10px;
    height: 170px;
    background-color: rgb(220, 1, 30);
    position: relative;
    rotate: z 63deg;
    top: -66%;
    left: 18.8%;
  }
  .cross-di-2{
    width: 10px;
    height: 170px;
    background-color: rgb(220, 1, 30);
    position: relative;
    rotate: z 65deg;
    top: -201.8%;
    left: 350px;
  }
  .cross-di-3{
    width: 10px;
    height: 140px;
    background-color: rgb(220, 1, 30);
    position: relative;
    rotate: z 120deg;
    top: -261%;
    left: 13.2%;
  }
  .cross-di-4{
    width: 10px;
    height: 152px;
    background-color: rgb(220, 1, 30);
    position: relative;
    rotate: z 118.5deg;
    top: -256.5%;
    left: 378px;
  }
  .tri-1{
    height: 0px;
    width: 0px;
    
    border-left: 115px solid  rgb(0, 0, 141);
    border-bottom: 65px solid transparent;
    border-top: 0px solid transparent;

    position: relative;
    top: -18%;
  }

  .tri-2{
    height: 0px;
    width: 0px;
    
    border-left: 115px solid  rgb(0, 0, 141);
    border-bottom: 0px solid transparent;
    border-top: 63px solid transparent;

    position: relative;
    top: -57.7%;
  }

  .tri-3{
    height: 0px;
    width: 0px;
    
    border-left: 155px solid  rgb(0, 0, 141);
    border-bottom: 69px solid transparent;
    border-top: 0px solid transparent;

    position: relative;
    top: -75.5%;
    left: 30%;
  }

  .tri-4{
    height: 0px;
    width: 0px;
    
    border-right: 137px solid  rgb(0, 0, 141);
    border-bottom: 80px solid transparent;
    border-top: 0px solid transparent;

    position: relative;
    top: -89.35%;
    left: 4.5%;
  }

  .tri-5{
    height: 0px;
    width: 0px;
    
    border-left: 135px solid  rgb(0, 0, 141);
    border-bottom: 0px solid transparent;
    border-top: 80px solid transparent;

    position: relative;
    top: -70%;
    left: 30%;
  }

  .tri-6{
    height: 0px;
    width: 0px;
    
    border-right: 137px solid  rgb(0, 0, 141);
    border-bottom: 75px solid transparent;
    border-top: 0px solid transparent;

    position: relative;
    top: -88.9%;
    left: 35.5%;
  }

  .tri-7{
    height: 0px;
    width: 0px;
    
    border-right: 141px solid  rgb(0, 0, 141);
    border-bottom: 0px solid transparent;
    border-top: 73px solid transparent;

    position: relative;
    top: -99.7%;
    left: 4%;
  }

  .tri-8{
    height: 0px;
    width: 0px;
    
    border-right: 130px solid rgb(0, 0, 141);
    border-bottom: 0px solid transparent;
    border-top: 63px solid transparent;

    position: relative;
    top: -145%;
    left: 35.75%;
  }

  .star-1{
    width: 0px;
    height: 0px;

    position: relative;
    top: -110%;
    left: 75%;

    border-top: 20px solid rgb(237, 237, 86);
    border-right: 18px solid transparent;
    border-bottom: 20px solid rgb(237, 237, 86);
    border-left: 0px solid transparent;
  }